{% extends 'elec_base.html' %}
{% block title %}Electronics List{% endblock %}
{% block content %}
<div class="d-flex justify-content-end mb-3">
    <div class="col text-start">
        <form method="GET" class="d-flex">
            <input type="text" name="q" class="form-control me-2" placeholder="Search Electronics..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div><p>&nbsp;&nbsp;</p>
    <a href="{% url 'ele-add' %}" class="btn btn-primary">Add New Electronics</a>
</div>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Electronics List</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="background: white;">
                <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ele in elec %}
<tr>
    <td>{{ ele.Name }}</td>
    <td>{{ ele.Type }}</td>
    <td>{{ ele.Description }}</td>
    <td>{{ ele.Rating }}</td>
    <td>{{ ele.Price }}</td>
    <td>
        <a href="{% url 'ele-edit' ele.pk %}">Edit</a>  |  
        <a href="{% url 'ele-delete' ele.pk %}">Delete</a>
    </td>
</tr>
{% endfor %}

            </tbody>
        </table>
        
        <div class="col">
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'home' %}';">Go back to Home</button>
        </div>
    </div>
    {% endblock %}
